* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.form {
    width: 270px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 0 0 7px 0;
}

.field {
    margin: 5px 0 0 0;
}

.hint,
.output {
    height: 14px;
}

.output {
    margin-top: 8px;
    height: 28px;
}

.button {
    width: 100%;
}
